.category-banner {
    display: flex;

    position: relative;

    height: 350px;
    background-color: red;
    background-size: cover;
    cursor: pointer;

    transition: opacity 200ms linear;

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: .5rem;
        background-color: rgba($color-text-gray1, .5);

        p {
            font-size: 1.5rem;
            color: $color-white;
        }
    }

    &:hover {
        opacity: .7;
    }
}
