$color-primary: #F2994A;
$color-white: #FFFFFF;
$color-text-gray1: #333333;
$color-text-gray2: #4F4F4F;
$color-text-gray3: #828282;
$color-text-gray4: #CBCBCB;

$break-lg: 720px;

$font-family: 'Roboto', sans-serif;